@import url('https://fonts.googleapis.com/css2?family=Gwendolyn&family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Poiret+One&family=Prompt:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #D9D9D9;
}

body {
  font-family: "Inter", sans-serif ;
}
